@import "neat-helpers";

/* Grid */
$column: 68px;
$gutter: 24px;
$grid-columns: 10;
$max-width: 992px;
$visual-grid: true;

$desktop: new-breakpoint(min-width 992px 10);
$tablet: new-breakpoint(min-width 768px max-width 991px 8);
$wide-mobile: new-breakpoint(min-width 480px max-width 767px 5);
$mobile: new-breakpoint(min-width 0 max-width 479px 3);

/* Colors */
/* See: http://colours.neilorangepeel.com/ */
$color-black: #000;
$color-brown: #A52A2A;
$color-dodgerblue: #1E90FF;
$color-firebrick: #B22222;
$color-forestgreen: #228B22;
$color-limegreen: #32CD32;
$color-maroon: #800000;
$color-skyblue: #87CEEB;
$color-snow: #FFFAFA;
$color-grey: #808080;
$color-white: #FFF;
$color-yellow: #FFFF00;

/* Default text */
$default-text-color: $color-black;
$default-font-stack: source-sans-pro, sans-serif;

/* Link colors */
$default-link-color: $color-dodgerblue;
$hover-link-color: darken($default-link-color, 10%);
$active-link-color: $color-brown;

/* Background colors */
$bg-color-success: $color-limegreen;
$bg-color-error: $color-firebrick;
$bg-color-notice: $color-skyblue;
$bg-color-warning: $color-yellow;
