.outer {
  @include outer-container;

  @include media($desktop) {
    padding-left: 48px;
    padding-right: 48px;
  }

  @include media($tablet) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @include media($wide-mobile) {
    padding-left: 22px;
    padding-right: 22px;
  }

  @include media($mobile) {
    padding-left: 34px;
    padding-right: 34px;

    background-color: $color-snow;
    background-color: rgba($color-snow, .8);
  }
}

.header {
  text-align: right;
  border-bottom: 1px solid $color-forestgreen;

  a {
    color: $color-grey;

    &:hover, &:focus {
      color: $color-black;
    }
  }
}

.main-navigation {
  float: left;
}

.main-navigation__element {
  display: inline-block;
  margin-right: .25em;
}

.sign-in-out-navigation__element {
  display: inline-block;
  margin-left: .25em;
}

.sign-in-out-navigation__button {
  border: 0;
  background-color: $color-white;
  color: $color-grey;

  &:hover {
    color: $color-black;
  }
}

.body {
  background-image: asset-url('hala.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  background-size: cover;
}

.main-section {
  background-color: $color-snow;
  background-color: rgba($color-snow, .8);
  padding: 1em;

  @include media($mobile) {
    background-color: transparent;
    padding: 1em 0;
  }
}

.footer {
  color: $color-grey;
  font-size: 0.8em;
  font-style: italic;
}
