.container {
  @include outer-container;
}

.header {
  text-align: right;
  border-bottom: 1px solid $color-forestgreen;

  a {
    color: $color-grey;

    &:hover, &:focus {
      color: $color-black;
    }
  }
}

.main-navigation {
  float: left;
}

.main-navigation__element {
  display: inline-block;
  margin-right: .25em;
}

.sign-in-out-navigation__button {
  border: 0;
  background-color: $color-white;
  color: $color-grey;

  &:hover {
    color: $color-black;
  }
}

.body {
  background-image: asset-url('hala.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;

  .container {
    background-color: $color-snow;
    background-color: rgba($color-snow, .8);
    padding: 1em;
  }
}

.footer {
  color: $color-grey;
  font-size: 0.8em;
  font-style: italic;
}
