.timeline {

}

.timeline-entry {
  border-top: 1px solid $color-forestgreen;
  padding-bottom: 1em;

  blockquote {
    background-color: $color-snow;
    border: 1px solid $color-forestgreen;
    padding: 0 1em;
    position: relative;

    &:after {
      position: absolute;
      top: -10px;
      right: 0;
      font-size: 36px;
      content: '”';
      color: $color-grey;
    }

    &:before {
      position: absolute;
      bottom: -10px;
      left: 0;
      font-size: 36px;
      content: '„';
      color: $color-grey;
    }
  }
}

.timeline-entry__author {
  padding: .25em 43px;
  background-color: $color-snow;
  position: relative;

  img {
    border-radius: 50%;
    box-shadow: 1px 1px 3px $color-black;
    position: absolute;
    left: -34px;
    top: -14px;
  }
}

.timeline-form {
  padding-bottom: 1em;
}

.timeline-form__content {
  textarea {
    width: 100%;
  }
}

.timeline-form__help {
  font-style: italic;
}
