.timeline {

}

.timeline-entry {
  border-top: 1px solid $color-forestgreen;
  padding-bottom: 1em;
}

.timeline-entry__author {
  padding: .25em 43px;
  background-color: $color-snow;
  position: relative;

  img {
    border-radius: 50%;
    box-shadow: 1px 1px 3px $color-black;
    position: absolute;
    left: -34px;
    top: -14px;
  }
}

.timeline-form {
  padding-bottom: 1em;
}

.timeline-form__content {
  textarea {
    width: 100%;
  }
}

.timeline-form__help {
  font-style: italic;
}
